################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch
/SystemStatusTest/x64/Debug
/x64/Debug
/SystemStatusTest.VC.VC.opendb
/SystemStatusTest.VC.db
/.vs/SystemStatusTest/v14
